@model IEnumerable<ProjectsStory.Models.Project>

@{
    ViewBag.Title = "ShowProjects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ShowProjects</h2>
<h2>@ViewBag.ErrorMessage</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Repository.Owner.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RepositoryLink)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    foreach (var i in item.ProjectUpdates)
    {
        if(i == null)
        {
            continue;
        }
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Repository.Owner.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RepositoryLink)
        </td>
        <td>
            @Html.DisplayFor(modelItem => i.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ProjectId }) |
            @Html.ActionLink("Details", "Details", new { id = item.ProjectId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ProjectId })
        </td>
    </tr>
    }
}

</table>
