@model List<ProjectsStory.Models.Project>
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>@ViewBag.ErrorMessage</p>


<div id="ProjectsTree" class="">
    
    @foreach (var project in Model)
    {
       
        <div class="single-project col-sm-6 col-sm-offset-3">
            <a href="Projects/Delete/@project.ProjectId" class="project-delete"><i class="fas fa-times-circle"></i></a>
            <div class="single-project-header">
                <h2 class="projects-title">@project.Title</h2>
                <p class="projects-date"><i class="fas fa-edit"></i> @project.ProjectUpdates.Last().PublicationDate.Date.ToString("dd/MM/yyyy")</p>
            </div>
            <div class="single-project-body">
                <div class="single-project-description">
                    @project.ProjectUpdates.First().Description    
                </div>
                <img src="~/Content/Images/image1.png" />
                
            </div>
            <div class="single-project-footer">
                <a href="@project.RepositoryLink" class="project-button"><i class="fas fa-code-branch"></i> Show repository</a>
                <a href="/Edit/@project.ProjectId" class="project-button"><i class="fas fa-list-alt"></i> Edit/Update</a>
                <a href="@project.ReadyProductLink" class="project-button"><i class="fas fa-cart-arrow-down"></i> Show product</a>
                <p class="project-views"><i class="fas fa-eye"></i> @project.VisitCounter</p>
            </div>
        </div>
    }
</div>